video SOMNI.mp4
*.pdf
*.pptx
*.docx
*.py
*.ps1
*.bat
Cambio web.png
Logo portada SOMNI*.png
Redes y Premios.png
Premios.png
Referencia de carrusel.mp4
dashboard-somni.png
Reporte PowerBI_SOMNI.png
Reporte PowerBI SOMNI V0.PNG
Resultado con riesgo real.png
SoMNi_Animado.png
WhatsApp Image*.jpeg
APR_01.png
Alertas por Email.png
Dispositivos en cabina*.jpg
Logos SIG_2CR.svg
Reporte Ejecutivo PowerBi.png
Plataforma Gestión SOMNI.png
APR_00.png
APR_02.png
Alerta NO controles real_ SOMNI.png
Alerta WSP real de SOMNI.png
resultado-encuesta-somni.png.PNG
correo-jornada-somni.png.PNG
